.try-api-sidebar
  .try-api-sidebar-header
    b>
      | {{ project.name }}
    | API
  .try-api-sidebar-menu-container#tryApiScrollspy
    .try-api-sidebar-menu
      div ng-repeat="category in project.categories track by category.id"
        h5.try-api-sidebar-menu-heading
          | {{ category.title }}
        ul.try-api-sidebar-menu-items.nav
          li.try-api-sidebar-menu-item ng-repeat="menu_item in category.menu_items track by menu_item.id"
            a href="{{ '#section' + category.id + menu_item.id }}"
              | {{ menu_item.title }}
            ul.second-level-menu-items.nav ng-show="menu_item.second_level_menu_items"
              li ng-repeat="method in menu_item.second_level_menu_items track by method.id"
                a href="{{ '#section' + category.id + menu_item.id + method.id }}"
                  | {{ method.title }}
.try-api-container
  .row.method.is-flex
    .col-md-6.method-try
      h2.method-try-heading
        | {{ project.name }}
    .col-md-6.method-example
      | API endpoint
      .method-example-code
        | {{ project.endpoint }}
  div ng-repeat="category in project.categories"
    .row.method ng-if="category.visible"
      .col-md-12.method-try
        h2.method-try-heading
          | {{ category.title }}
    div ng-repeat="menu_item in category.menu_items track by menu_item.id"
      .row.method id="'section' + category.id + menu_item.id"
        .col-md-12.method-try
          h3
            | {{ menu_item.title }}
          | {{ menu_item.description }}
          div ng-bind-html="getHtml(menu_item.html)"
      div ng-repeat="method in menu_item.second_level_menu_items track by method.id"
        .row.method ng-if="method.html" id="{{ 'section' + category.id + menu_item.id + method.id }}"
          .col-md-12.method-try
            h3
              | {{ method.title }}
            div ng-bind-html="getHtml(method.html)"
        .row.method.is-flex id="{{ method.html ? '' : ('section' + category.id + menu_item.id + method.id) }}"
          .col-md-6.method-try
            h4
              | {{ method.title }}
            h4
              .label.label-info>
                | {{ method.method }}
              | {{ method.local_path }}
            div ng-if="method.headers.length > 0"
              label
                | Headers:
              .row.parameter ng-repeat="header in method.headers"
                .col-md-3.text-right
                  b
                    | {{header.name }}
                .col-md-9
                  input.form-control type="text" ng-model="header.value"
                  .text-muted.small
                    div ng-trust-html="getHtml(header.description)"
            div ng-if="method.parameters.length > 0"
              label
                | Parameters:
              div params=true ng-model="method.parameters"

            br
            .text-right.progress-demo
              button.btn.btn-success.ladda-button ng-click="method.submit()" ladda="method.pending" data-color="mint" data-style="expand-right" sata-size="s"
                span.ladda-label
                  | Try it
                span.ladda-spinner
                .ladda-progress style="width: 100px"
            br
            .method-example-code id="method.response" ng-show="method.response"
              .label
                | Status code:
                span< ng-class="getStatusCodeClass(method.response.status)"
                  | {{ method.response.status }}
              br
              .label
                | Data:
              div hljs=true hljs-language="json" hljs-source="method.response.data"
              br
              .label
                | Headers:
              div hljs=true hljs-language="json" hljs-source="method.response.headers"
          .col-md-6.method-example
            h1
              | Example responses
            div ng-repeat="example in method.example_responses"
              .response
                span.label> class="label-{{ example.color }}"
                  | {{ example.code }}
                | {{ example.description }}
              div hljs=true hljs-language="{{ example.type }}" hljs-source="example.response"

  .row.method.is-flex
    .col-md-6.method-try
    .col-md-6.method-example
      .text-right
        strong
          | Copyright&nbsp;PettersonApps © 2016