<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title><%= @title %></title>
    <%= stylesheet_link_tag "try_api/application", :media => "all", :async => false %>
    <%= javascript_include_tag "try_api/application", :media => "all", :async => false %>
</head>
  <body data-spy="scroll" data-target="#tryApiScrollspy" ng-app="TryApiApp" ng-controller="HomeController">
    <%= yield %>
  </body>
</html>
